.onBoardingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  row-gap: var(--space-20);
  overflow: auto;
}

.onBoardingStages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--space-20);
  padding: 0 var(--space-8) var(--space-8);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer > div:last-child {
  margin-bottom: var(--space-8);
  font-weight: var(--font-weight-900);
  font-size: var(--font-size-24);
}
